#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background-color: var(--purple-500);
    color: var(--white-500);

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: 700 2.25rem "Poppins", sans-serif;
      line-height: 2.625rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-top: 1rem;
      color: var(--white-300);
    }
  }

  main {
    flex: 7;

    padding: 0 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: stretch;
    text-align: center;

    > img {
      align-self: center;
    }

    form {
      input {
        height: 3.125rem;
        border: 1px solid var(--gray-500);
        border-radius: 0.5rem;
        padding: 0 1rem;
        background-color: var(--white-500);
      }

      button {
        margin-top: 1rem;
      }

      button,
      input {
        width: 100%;
      }
    }
  }

  .create-room {
    margin-top: 4rem;
    height: 3.125rem;
    border: 0;
    border-radius: 0.5rem;
    font-weight: 500;
    background-color: var(--red-700);
    color: var(--white-500);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: filter 0.2s;
    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .separator {
    font-size: 0.875rem;
    color: var(--gray-500);

    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background-color: var(--gray-500);
      margin-right: 1rem;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: var(--gray-500);
      margin-left: 1rem;
    }
  }

  @media screen and (max-width: 700px) {
    aside {
      display: none;
    }

    main {
      flex: 1;
    }
  }
}
