* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-300: #f8f8f8;
  --white-500: #fff;
  --gray-300: #e2e2e2;
  --gray-500: #a8a8b3;
  --gray-600: #737380;
  --gray-800: #29292e;
  --pink-500: #e559f9;
  --purple-500: #835afd;
  --red-700: #ea4335;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background-color: var(--white-300);
  color: var(--gray-800);
}

body,
input,
button,
textarea {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}
