.question {
  background-color: var(--white-300);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.04);
  padding: 1.5rem;

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background-color: var(--gray-200);
    border: 1px solid var(--purple-500);

    footer .user-info span {
      color: var(--gray-800);
    }
  }

  &.answered {
    background-color: var(--gray-400);
  }

  p {
    color: var(--gray-800);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
      }

      span {
        margin-left: 0.5rem;
        color: var(--gray-600);
        font-size: 0.875rem;
      }
    }

    > div {
      display: flex;
      gap: 1rem;
    }

    button {
      border: 0;
      background-color: transparent;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--gray-600);
        gap: 0.5rem;
        transition: filter 0.2s;

        &.liked {
          color: var(--purple-500);

          svg path {
            stroke: #835afd;
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }
}
